<!doctype html>
<html>
  <head>
    <title>Object Detection</title>
  </head>
  <body>
    <h1>Object Detection</h1>
    {% if image %}
<!--    <img src="{{ url_for('predict') }}" alt="Detected Object" width="640" height="480">-->
   <!-- <img src="{{ user_image }}" alt="Detected Object" width="640" height="480">-->
    <h3>detected image</h3><img src="{{ url_for('static', filename='images/predicted_defects_image.jpg') }}" alt="image" height="240px" width="300px">

    {% endif %}
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
